<html>
<head>
  <title>  Details </title>
  <style>
      hr {
          align-self: center;
          width: 50%;
      }
      h1{
          text-align: center;
          color: wheat;
      }
      h2{
          text-align: center;
          color: wheat;
      }
      p{
          text-align: center;
          color: wheat;
      }
  </style>
</head>
  <body>
    <br>
    <div class="container ">
    <h2 style="text-align: left"><%= link_to 'Back' , welcome_home_path , class: 'css_class', style: 'color:yellow;'%></h2>  
      <table class="table table-dark table-striped" style="text-align: center;margin: 10px;" >
        <thead>
          <th colspan="2" >Details of the Students</th>
        </thead>
        <tbody>
        <tr>
          <td>User Name</td>
          <td><%= @student.user_name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @student.email %></td>
        </tr>
        </tbody>
      </table>

      <table class="table table-striped table-dark" style="text-align: center;margin: 10px;" >
      <thead>
      <th colspan="5" >Student Borrowed Books</th>
      </thead>
      <tbody>
      <tr>
        <td> Student User Name </td>
        <td>Book Name</td>
        <td>Due Date</td>
        <td>Fine</td>
        <td>Actions</td>  
      </tr>
      <% @student.borrow_histories.each do |b| %>
        <tr>
          <td><%= b.user.user_name %></td>
          <td><%= b.book.title %></td>
          <td><%= b.due_date  %></td>
          <td> <%= b.fine %> </td>
          <td>
            <%= button_to 'Delete' , borrow_history_path(b) ,method: :delete , data: { turbo: false } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

      <hr>
    </div>
  </body>
</html>