<html>
<head>
  <title> Books Details </title>
  <style>
      hr {
          align-self: center;
          width: 50%;
      }
      h1{
          text-align: center;
          color: wheat;
      }
      h2{
          text-align: center;
          color: wheat;
      }
      p{
          text-align: center;
          color: wheat;
      }
  </style>
</head>
  <body>
    <br>
    <h2 style="text-align: left"><%= link_to 'Back' , books_path , class: 'css_class', style: 'color:yellow; text-align: center; ' %></h2>
    <div class="container ">
      <table class="table table-dark table-striped" style="text-align: center;margin: 10px'" >
        <thead>
          <th colspan="2" >Details of the book</th>
        </thead>
        <tbody>
        <tr>
          <td>Title</td>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><%= @book.description %></td>
        </tr>
        <tr>
          <td>Publish Date</td>
          <td><%= @book.publish_date %></td>
        </tr>
        </tbody>
      </table>
      <hr>
      <% if current_user.role == 'student' %>
        <h3 style="text-align: center;" > <%= link_to 'Borrow' , new_borrow_history_path(book_id: @book.id) , class: 'css_class', style: 'color:wheat; text-align: center; '   %> </h3>
      <% end %>
    </div>
  </body>
</html>